@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow: hidden;
}
@layer base {
  .main-height {
    @apply pt-[56px] pb-[56px] md:pb-0 h-[calc(100vh-0px)] overflow-x-hidden overflow-y-scroll relative z-20;
  }
  .gradient-ui-wrap {
    /* @apply bg-blue-100; */
    background: rgb(2, 0, 36);
    background: linear-gradient(
      326deg,
      rgba(2, 0, 36, 0.3085609243697479) 9%,
      rgba(0, 212, 255, 0.20772058823529416) 45%,
      rgba(9, 9, 121, 0.5214460784313726) 78%
    );
  }
  .gradient-ui-wrap > div {
    @apply rounded-full blur-[120px] absolute;
  }
  .content-box {
    @apply bg-white/[.3] backdrop-blur-[40px];
  }
  .btn-blue {
    @apply px-3 mt-5 py-2 bg-blue-500 text-white/90 font-bold rounded-md transition-all hover:opacity-90 hover:scale-95 scale-100;
  }
  .btn-red {
    @apply px-3 mt-5 py-2 bg-red-500 text-white/90 font-bold rounded-md transition-all hover:opacity-90 hover:scale-95 scale-100;
  }
  .btn-green {
    @apply px-3 mt-5 py-2 bg-green-500 text-white/90 font-bold rounded-md transition-all hover:opacity-90 hover:scale-95 scale-100;
  }
}
